<h1>Empresa</h1>
<form>
  <br>
  <mat-form-field class="form">
    <input matInput class="right" matInput placeholder="Nombre de la empresa: ">
  </mat-form-field>
  <br>
  <mat-form-field class="form">
    <input matInput class="right" matInput placeholder="País: ">
  </mat-form-field>
  <br>
  <label class="right" matInput placeholder="Logo: ">Logo:</label>
  <input type="file" placeholder="..." text="...">
  <br>
  <br>
  <br>
  <button mat-raised-button color="warn" class="button">Agregar Empresa</button>
</form>