<body>


  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <h2>Login Empleado: </h2>
      </mat-card-header>
    </mat-card>
    <mat-card-content class="example-form">
      <form>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su correo: " name="EmployeeUser" #EmployeeUser="ngModel" [(ngModel)]="employee.EmployeeUser"
            class="textArea">
        </mat-form-field>
        <br>
        <br>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su contrasena: " name="EmployeePassword" #EmployeePassword="ngModel" [(ngModel)]="employee.EmployeePassword"
            class="textArea">
        </mat-form-field>

        <button mat-raised-button color="warn" class="button" (click)="onSubmitEmployee()">Registrarse</button>
        <br>
        <br>
      </form>
    </mat-card-content>


  </div>



</body>