<body>
  <mat-toolbar>
    <span class="example-spacer1"></span>

    <h1 class="title">Compras</h1>

    <span class="example-spacer"></span>

  </mat-toolbar>
  <br>
  <br>
  <div>
    <mat-card class="example-card">
      <mat-card-header class="headerText">
        <h2>Proveedor: </h2>
      </mat-card-header>
    </mat-card>
    <mat-card-content class="example-form">
      <form>
        <br>
        <label class="example-full-width2" style="font-family:Questrial">No. Compra:</label>
        <mat-form-field class="example-full-width2">
          <input matInput placeholder="NO. " class="textArea" [(ngModel)]="NumeroCompra" name="NumeroCompra" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field class="select1">
          <mat-select placeholder="Proveedor" [(ngModel)]="purchase.ProviderID" name="ProviderID" #ProviderID="ngModel">
            <mat-option *ngFor="let provider of _postArrayProvider" value="{{provider.ProviderID}}">{{provider.ProviderName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="purchase.Date" name="Date" #Date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>

        <br>

      </form>
      <button mat-raised-button color="warn" class="button" (click)="enterPurchase()">Aceptar</button>
    </mat-card-content>


  </div>

  <br>


  <button class="float-right" mat-fab color="warn" id="add" (click)="addInput()">
    <i class="material-icons">add</i>
  </button>
  <br>
  <br>

  <table id="dataTable">

    <thead class="dataTable">
      <tr class="header">
        <th style="width: 3%">Cantidad</th>
        <th style="width: 3%">Descripción</th>
        <th style="width: 3%">Precio Unitario</th>
        <th style="width: 3%">Total</th>
      </tr>
    </thead>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Cantidad" class="textArea" [(ngModel)]="Quantity" name="Quantity" type="number">
        </mat-form-field>
      </td>

      <td>

        <mat-form-field class="select1">
          <mat-select placeholder="Producto" (change)="selectInventaries()" [(ngModel)]="InventaryID" name="Price" name="InventaryID">
            <mat-option *ngFor="let provider of _postArrayInventary" value="{{provider.InventaryID}}" value="{{provider.Price}}">{{provider.InventaryDescription}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" value="{{Price}}" [(ngModel)]="Price" type="number">
        </mat-form-field>

      </td>

      <td>
        <mat-form-field>
          <input matInput placeholder="SubTotal" class="textArea" value="{{Quantity * Price}}" [(ngModel)]="SubTotal" name="SubTotal"
            type="number">
        </mat-form-field>
      </td>
    </tr>


  </table>
  <button mat-raised-button color="warn" class="button" (click)="enterPurchaseDetaill()">Agregar Compra</button>


</body>

<app-menu></app-menu>