<body>
  <mat-toolbar>
    <span class="example-spacer1"></span>

    <h1 class="title">Compras</h1>

    <span class="example-spacer"></span>

  </mat-toolbar>
  <br>
  <br>
  <div>
    <mat-card class="example-card">
      <mat-card-header class="headerText">
        <h2>Proveedor: </h2>
      </mat-card-header>
    </mat-card>
    <mat-card-content class="example-form">
      <form>
        <br>
        <label class="example-full-width2" style="font-family:Questrial">No. Compra:</label>
        <mat-form-field class="example-full-width2">
          <input matInput placeholder="NO. " class="textArea" [(ngModel)]="NumeroCompra" name="NumeroCompra" readonly="readonly">
        </mat-form-field>
        <br>
        <mat-form-field class="select1">
          <mat-select placeholder="Proveedor" formControlName="ProviderId" [(ngModel)]="ProviderId" name="ProviderId">
            <mat-option *ngFor="let provider of _postArrayProvider" value="{{provider.ProviderId}}">{{provider.ProviderName}}</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="Date" [(ngModel)]="Date" name="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>

        <br>

      </form>
    </mat-card-content>


  </div>

  <br>


  <button class="float-right" mat-fab color="warn" id="add" (click)="addInput()">
    <i class="material-icons">add</i>
  </button>
  <br>
  <br>

  <table id="dataTable">
    <thead class="dataTable">
      <tr class="header">
        <th style="width: 3%">Cantidad</th>
        <th style="width: 3%">Descripción</th>
        <th style="width: 3%">Precio Unitario</th>
        <th style="width: 3%">Total</th>
      </tr>
    </thead>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" class="textArea" [(ngModel)]="Quantity" type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Inventary" formControlName="InventaryId" [(ngModel)]="InventaryId" name="InventaryId">
            <mat-option *ngFor="let inventary of _postArrayInventary" value="{{inventary.InventaryId}}">{{inventary.Inventary}}</mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" [(ngModel)]="Price" type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Total" class="textArea" [(ngModel)]="Total" type="number">
        </mat-form-field>
      </td>
    </tr>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" class="textArea" [(ngModel)]="Quantity" [ngModelOptions]="{standalone: true}" type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Inventary" formControlName="InventaryId" [(ngModel)]="InventaryId" name="InventaryId">
            <mat-option *ngFor="let inventary of _postArrayInventary" value="{{inventary.InventaryId}}">{{inventary.Inventary}}</mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" [(ngModel)]="Price" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Total" class="textArea" [(ngModel)]="Total" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
    </tr>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" class="textArea" [(ngModel)]="Quantity" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Inventary" formControlName="InventaryId" [(ngModel)]="InventaryId" name="InventaryId">
            <mat-option *ngFor="let inventary of _postArrayInventary" value="{{inventary.InventaryId}}">{{inventary.Inventary}}</mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" [(ngModel)]="Price" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Total" class="textArea" [(ngModel)]="Total" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
    </tr>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" class="textArea" [(ngModel)]="Quantity" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Inventary" formControlName="InventaryId" [(ngModel)]="InventaryId" name="InventaryId">
            <mat-option *ngFor="let inventary of _postArrayInventary" value="{{inventary.InventaryId}}">{{inventary.Inventary}}</mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" [(ngModel)]="Price" type="number" [ngModelOptions]="{standalone: true}">>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Total" class="textArea" [(ngModel)]="Total" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
    </tr>
    <tr class="trStyle">
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" class="textArea" [(ngModel)]="Quantity" type="number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Inventary" formControlName="InventaryId" [(ngModel)]="InventaryId" name="InventaryId">
            <mat-option *ngFor="let inventary of _postArrayInventary" value="{{inventary.InventaryId}}">{{inventary.Inventary}}</mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Price" class="textArea" [(ngModel)]="Price" type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Total" class="textArea" [(ngModel)]="Total" type="number">
        </mat-form-field>
      </td>
    </tr>

  </table>



</body>

<app-menu></app-menu>