<h1>Categorías</h1>

<br>
<button mat-fab color="primary" id="add" (click)="EnterDialog()">
  <i class="material-icons">library_add</i>
</button>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of _postArray">
        <td>{{category.CategoryDescription}}</td>
        <td>
          <i class="material-icons" (click)="UpdateDialog(category)">mode_edit</i>
          <i class="material-icons" (click)="DeleteDialog(category)">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-menu></app-menu>