<body>

  <h1>
    Productos</h1>

  <button mat-fab color="primary" id="add" (click)="EnterDialog()">
    <i class="material-icons">library_add</i>
  </button>



  <input type="text">


  <br>
  <br>
  <p>{{term}}</p>
  <mat-grid-list cols="2" rowHeight="100px">

    <mat-card class="example-card" *ngFor="let inventary of _postArray">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title" id="td">{{inventary.InventaryDescription}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Codigo de Barras: {{inventary.CodeBar}}
        </p>
        <p>Cantidad: {{inventary.Quantity}}</p>
        <p>Precio de Compras: Q{{inventary.Price}}</p>
        <p>Precio de Venta: Q{{inventary.Price +(inventary.Price * 0.25)|number}}</p>
   <img class="barcode" [attr.jsbarcode-value]="inventary.CodeBar">

      </mat-card-content>
      <mat-card-actions>

        <a class="nav-link" [routerLink]="['/contacts']">Vender</a>
        <i class="material-icons" (click)="UpdateDialog(inventary)">mode_edit</i>

        <i class="material-icons" id="delete" (click)="deleteDialog(inventary)">delete_forever</i>
      </mat-card-actions>

    </mat-card>

  </mat-grid-list>


    



  <app-menu></app-menu>

</body>