<h1>Movimientos</h1>

<button mat-fab color="primary" id="add" (click)="EnterDialog()">
  <i class="material-icons">library_add</i>
</button>
<br>
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>'HOla'</td>
        <td>"dada"</td>
        <td>"ea"</td>
        <td>

          <i class="material-icons">mode_edit</i>
        </td>

      </tr>
    </tbody>
  </table>
</div>
<app-menu></app-menu>