body {
  font-family: "Questrial", sans-serif;
}

mat-toolbar {
  color: black;
  text-align: center;

  font-family: "Questrial", sans-serif;
  background-color: #424242;
}
h1,
h2 {
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 30px;
}
.example-card {
  width: 100%;
  color: #424242;
  background-color: rgba(108, 108, 108, 0.61);
}
.example-form {
  background-color: rgba(122, 122, 122, 0.49);

  width: 100%;
}

.example-full-width {
  width: 90%;
  padding-left: 10px;
  color: white;
}
.textArea {
  color: black;
  font-style: black;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
}
div {
  padding-top: 40px;
  padding-left: 20px;
}
.button {
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 30%;
}
body {
  background-color: #ffffff;
  background-size: cover;
  background-size: 100%;
  height: 635px;
  max-height: 635px;
  background-position: center;
  background: url("/assets/luces.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.divTabs {
  width: 70%;
  padding-left: 30%;
}
.matTab {
  width: 50px;
}
label {
  color: white;
}
mat-tab-group {
  color: white;
}
