<h1>Editar una sucursal</h1>
<mat-divider></mat-divider>
<br>
<form class="unicorn-dark-theme">
  <mat-form-field class="form" dividerColor="primary">

    <input matInput placeholder="Ingrese el nombre de la sucursal" [(ngModel)]="data.BranchOfficeName" name="BranchOfficeName">
  </mat-form-field>


  <mat-form-field class="form">
    <input class="right" matInput placeholder="Ingrese la dirección de la nueva sucursal" [(ngModel)]="data.BranchOfficeAddress"
      name="BranchOfficeAddress">
  </mat-form-field>


  <mat-form-field class="form">
    <input class="right" matInput placeholder="Ingrese el teléfono de la sucursal" type="number" [(ngModel)]="data.BranchOfficePhone"
      name="BranchOfficePhone">
  </mat-form-field>

  <br>
  <button mat-raised-button color="warn" (click)="updateBranchOffice(data.BranchOfficeID)" (click)="onNoClick()">Registro</button>
</form>