.form {
  width: 45%;
  margin-left: 25px;
  margin-top: 10px;
  font-family: "Questrial", sans-serif;
}

input.right::-webkit-outer-spin-button,
input.right::-webkit-inner-spin-button {
  display: none;
}

h1 {
  font-family: "Questrial", sans-serif;
}

button {
  margin-left: 30px;
}
