<body>

  <mat-toolbar color="warn">
    <span class="example-spacer"></span>
    <img src="../assets/Login.png" class="imgA" alt="...">
    <span [routerLink]="['/login']" style="color:black" class="spanA"> Iniciar Sesión: </span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="divTexts">
    <h1 class="h1A">
      Bienvenido a
      <strong>Despair</strong>
    </h1>
    <h3>¡Que tus ventas no sean una desesperación!</h3>
    <img src="../assets/logo.jpeg" class="imgB" alt="...">
  </div>
  <div class="divCard">
    <mat-card class="example-card">
      <mat-card-header>
        <h2>Registro: </h2>
      </mat-card-header>
    </mat-card>
    <mat-card-content class="example-form">
      <form>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su nombre: " class="textArea" [(ngModel)]="user.UserName" #UserName="ngModel" name="UserName">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su apodo: " class="textArea" [(ngModel)]="user.UserNickName" #UserNickName="ngModel"
            name="UserNickName">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su correo: " class="textArea" [(ngModel)]="user.UserEmail" #UserEmail="ngModel" name="UserEmail">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ingrese su contraseña: " type="password" class="textArea" [(ngModel)]="user.UserPassword" #UserPassword="ngModel"
            name="UserPassword">
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="warn" class="button" (click)="enterUser()">Registrarse</button>
        <br>
        <br>
      </form>
    </mat-card-content>


  </div>

</body>