<body>


  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>

      <input id="inputName" class="form-control" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName">
      <input id="UserEmail" class="form-control" name="UserEmail" [(ngModel)]="user.UserEmail" #UserEmail="ngModel" placeholder="Email address">
      <input type="password" id="inputPassword" name="UserPassword" [(ngModel)]="user.UserPassword" #UserPassword="ngModel" class="form-control"
        placeholder="Password" required>

      <div class="wrapper">
        <span class="group-btn  col-lg-6">
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="onSubmit()">Actualizar</button>
        </span>
        <span class="group-btn col-lg-6">
          <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="logout()" type="submit">Salir</button>
        </span>
      </div>
    </form>_
    <!-- /form -->

  </div>
  <!-- /card-container -->

  <!--<form>
  <div class="form-group">
    <label for="exampleInputEmail1">User</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->
</body>